body {
    margin: 0px;
    display: flex;
    flex-direction: column;
   
}
header {
    background-color: #FAEDCD;
    height: 3rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    
}
#title {
    font-weight: bolder;
    font-family: "Ultra", sans-serif;
    
}
.nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 25%;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: auto;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    
}
.nav a:link {
    text-decoration: none;
    color: black;
}
.nav a:hover {
    text-shadow: 6px 6px 6px #ccccca;
    font-size: large;
}
.nav a:visited {
    color: black;
}

main {
    background-color: #FEFAE0;
    height: auto;
    min-height: 100vh;
    width: 100%;
    margin: 10px auto 10px auto;

}
#landing-h1 {
    text-align: center;
    font-family: "Ultra", sans-serif;
    text-shadow: 6px 6px 6px #ccccca;
    
}
#cake-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 250px;
    width: 100%;
    max-width: 600px;
    box-shadow: 6px 6px 6px #ccccca;
    border-radius: 8px;
}
#center-div {
    display: flex;
    flex-direction: row;
    margin: 50px;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 360px;
    justify-content: center;

    
}
#landing-paragraph {
    display: block;
    height: auto;
    max-height: 360px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    text-align:justify;
    line-height: 150%;
    order: 2;
    padding: 10px;    
    width: 100%;
    width: 500px;
}
#dessert-image {
    order: 1;

}
#salad-image {
    order: 3;

}



.mid-images {
    display: block;
    height: 300px;
    width: 100%;
    max-width: 350px;
    box-shadow: 6px 6px 6px #ccccca;
    border-radius: 10px 100px / 120px;
    margin: 0px 20px 0px 20px;
}
#landing-quote {
    text-align: center;
    font-family: "Inria Sans",
    sans-serif;
    padding-bottom: 30px;
    margin-top: 300px;
}
#landing-quote span{
    font-family: "Inria Sans", sans-serif;
    font-size: 20px;
    text-shadow: 6px 6px 6px #ccccca;
}
footer {
    background-color: #FAEDCD;
    height: 3rem;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.footer-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 300px;
    font-family: "Inria Sans",
    sans-serif;
    font-weight: bolder;
    display: inline-block;
}

/* About Page */
#about-center-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    margin: auto;
    width: 90%;
}
#profile-image {
    height: 600px;
    width: 400px;
    box-shadow: 6px 6px 6px #ccccca;
    border-radius: 10px 100px / 120px;
    margin: 100px 100px 100px 100px;
    }
#about-txt {
    padding: 20px;
    margin-top: 100px;
    height:fit-content;
    width: fit-content;
    font-family: "Inter", sans-serif;
    text-align: justify;
    line-height: 2rem;
    border-radius: 10px 100px / 120px;
    background-color: #FAEDCD;
   
}
#about-txt h1 {
    text-align: center;
}

/* Hobby Page */
#hobby-center-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;


}
.hobby-div1 {
    display: flex;
    flex-direction: row;
    gap: 20%;
    margin: auto;
    width: 80%;
    padding-right: 5%;
}
.hobby-div2 {
    display: flex;
    flex-direction: row;
    gap: 15%;
    margin: auto;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
}
.hobby-div3 {
    display: flex;
    flex-direction: row;
    gap: 15%;
    margin: auto;
    width: 80%;
    padding-right: 5%;
}
#hobby-h1 {
    text-align: center;
    font-family: "Ultra",
    sans-serif;
    text-shadow: 6px 6px 6px #ccccca;
}
.hobby-images {
    height: 450px;
    width: 450px;
    box-shadow: 6px 6px 6px #ccccca;
    border-radius: 10px 100px / 120px;
    margin-top: 5%;
}
.hobby-txt {
    padding: 30px 50px 10px 50px;
    margin-top: 8%;
    margin-bottom: 5%;
    height:fit-content;
    width: fit-content;
    min-height: 150px;
    font-family: "Inter",
    sans-serif;
    text-align: justify;
    line-height: 2rem;
    border-radius: 50% 20% / 10% 40%;
    background-color: #FAEDCD;
}
@media (max-width: 1024px) {
    #dessert-image {
        margin: 50px 20px 50px 10px;
        order: 2;
        border-radius: 8px;
        height: 300px;
        width: 300px;
        max-width: 500px;
    }

    #salad-image {
        margin: 50px 10px 0px 20px;
        order: 3;
        border-radius: 8px;
        height: 300px;
        width: 300px;
        max-width: 500px;
    }

    #landing-paragraph {
        padding: 20px 20px 0px 20px;
    }

}
@media (max-width: 912px) {
    #landing-paragraph {
        padding: 0px 50px 0px 50px;
        font-family: "Inter",
            sans-serif;
        font-size: larger;
        text-align: justify;
        order: 1;
        width: 100%;
        max-width: 250px;
        margin-right: auto;
        margin-left: auto;
    }

    #dessert-image {
        margin-top: 50px;
        margin-bottom: 50px;
        order: 2;
        height: 300px;
        width: 100%;
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    #salad-image {
        margin-top: 50px;
        margin-bottom: 50px;
        order: 3;
        height: 300px;
        width: 100%;
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    #center-div {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto;
        max-width: 90%;
        padding-top: 60px;
        height: auto;
        max-height: fit-content;
    }

    .nav {
        gap: 10%;
    }

    header {
        height: 4rem;
    }

}




